<div class="dashboard-cards">
    <!-- Card 1 -->
    <div class="card">
      <div class="card-content">
        <h4>TOTAL SALE</h4>
        <h2>₹{{animatedValues.sales}}</h2>
        <p class="change positive">Increasing...</p>
      </div>
      <div class="card-icon">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <div class="card-content">
        <h4>TOTAL CUSTOMERS</h4>
        <h2>{{animatedValues.users}}</h2>
        <p class="change positive">Increasing...</p>
      </div>
      <div class="card-icon">
        <mat-icon>language</mat-icon>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <div class="card-content">
        <h4>HAPPY CUSTOMERS</h4>
        <h2>+{{animatedValues.happyCustomers}}</h2>
        <p class="change negative">-2.82% Since last month</p>
      </div>
      <div class="card-icon">
        <mat-icon>person</mat-icon>
      </div>
    </div>
  
    <!-- Card 4 -->
    <div class="card">
      <div class="card-content">
        <h4>TOTAL CLAIMS</h4>
        <h2>₹{{animatedValues.claims}}</h2>
        <p class="change positive">Successfully Approved</p>
      </div>
      <div class="card-icon">
        <mat-icon>money</mat-icon>
      </div>
    </div>
  </div>