<div class="dashboard-cards">
    <!-- Card 1 -->
    <div class="card">
      <div class="card-content">
        <h4>TODAY'S SALE</h4>
        <h2>₹{{animatedValues.money}}</h2>
        <p class="change positive">+3.48% Since last month</p>
      </div>
      <div class="card-icon">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <div class="card-content">
        <h4>TODAY'S USERS</h4>
        <h2>{{animatedValues.users}}</h2>
        <p class="change positive">+5.2% Since last month</p>
      </div>
      <div class="card-icon">
        <mat-icon>language</mat-icon>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <div class="card-content">
        <h4>HAPPY CUSTOMERS</h4>
        <h2>+{{animatedValues.clients}}</h2>
        <p class="change negative">-2.82% Since last month</p>
      </div>
      <div class="card-icon">
        <mat-icon>person</mat-icon>
      </div>
    </div>
  
    <!-- Card 4 -->
    <div class="card">
      <div class="card-content">
        <h4>TOTAL SALES</h4>
        <h2>₹{{animatedValues.sales}}</h2>
        <p class="change positive">+8.12% Since last month</p>
      </div>
      <div class="card-icon">
        <mat-icon>money</mat-icon>
      </div>
    </div>
  </div>