  /* Dashboard Cards Container */
  .dashboard-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 20px;
    justify-content: space-between; /* Align cards with equal spacing */
    margin-top: 10px; /* Add space below the header */
  }
  
  /* Individual Card */
  .card {
    background: #fffffff0;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25); /* Same shadow as sidebar */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(25% - 20px); /* Responsive cards (4 per row) */
    min-width: 220px; /* Prevent cards from becoming too small */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Card Hover Effect */
  .card:hover {
    background-color: #c2d4ff;
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.3);
  }
  
  /* Card Content */
  .card-content h4 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #888888;
    margin: 0;
  }
  
  .card-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
    color: #071234;
  }
  
  .card-content .change {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
  }
  
  .card-content .positive {
    color: #08bd35;
  }
  
  .card-content .negative {
    color: #e74c3c;
  }
  
  /* Card Icon */
  .card-icon {
    background: #e3f2fd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-icon mat-icon {
    font-size: 1.5rem;
    color: #2563eb;
  }
  .card-content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #071234;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-content h2 span {
    display: inline-block;
    animation: pop 0.5s ease-in-out;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }