<app-header></app-header>

<div class="login-container">
  <div class="login-card">
    <!-- Logo -->
    <div class="logo">
      <span>Ds Insurance</span>
    </div>
       <!-- Popup for Login Error -->
    <div *ngIf="loginError" class="popup-container">
      "Incorrect credentials", "Login attempt failed"
      <div class="progress-bar"></div>
    </div>
   

    <div class="divider">
      <span></span>
      <span>or sign in with</span>
      <span></span>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="userName" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('userName') }" placeholder="Enter your username" />
        <div class="error-message" *ngIf="isFieldInvalid('userName')">
          Username is required
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('password') }" placeholder="Enter your password" />
        <div class="error-message" *ngIf="isFieldInvalid('password')">
          Password is required
        </div>
      </div>
      <!-- "I am not a robot" Checkbox & Remember Me and Forgot Password -->
       <!-- "I am not a robot" Checkbox -->
       <app-custom-captcha (captchaVerifiedEvent)="onCaptchaVerified($event)">
      </app-custom-captcha>
      <div class="error-message" *ngIf="captchaError">
        Please verify you are not a robot
      </div>
     

      <!-- Login Button -->
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">
        Sign In
      </button>
    </form>

    <!-- Sign-Up Link -->
    <p class="signup-link">
      New to DsInsurance?<a routerLink="user-registration" routerLinkActive="active">Create an account</a>
    </p>

  </div>
</div>