<div class="header-container">
  <div class="header-top">
    <div class="header-brand" >
      <span class="brand-logo">🛡️</span>
      <span class="brand-name" routerLink="customer-dashboard" routerLink="active">Ds Insurance LTD</span>
    </div>
    <div class="menu-items">
      <a routerLink="customer-transaction" routerLinkActive="active" class="menu-link active">My Transaction</a>
      <a  class="menu-link">Priority</a>
      <a  class="menu-link">About Us</a>
      <a routerLink="support" routerLinkActive="active" class="menu-link">Support</a>
    </div>
    <div class="header-right">
      <a  class="icon-link"><i class="fas fa-bell"></i><span class="notification-badge">3</span></a>
      <button (click)="logout()" class="login-button"><mat-icon>logout</mat-icon>
        <span>Log Out</span></button>
    </div>
  </div>

  <div class="header-bottom">
    <a routerLink="my-docs" routerLinkActive="active" class="bottom-link">My Documents</a>
    <a routerLink="my-policies" routerLinkActive="active" class="bottom-link">My Policies</a>
    <a routerLink="upload-kyc" routerLinkActive="active" class="bottom-link">My KYC </a>
    <a routerLink="pay-premium" routerLinkActive="active" class="bottom-link">Pay Premium</a>
    <a class="bottom-link">Explore Insurance Policies</a>
    <a routerLink="buy-policy" class="bottom-link highlight">Buy New Insurance Policy</a>
  </div>
</div>
