<div class="header">
  <!-- Header Brand -->
  <div class="header-brand">
    <span class="brand-logo">🛡️</span>
    <span class="brand-name">Ds Insurance LTD</span>
  </div>

  <!-- Search Bar and Right-Side Icons -->
  <div class="header-right">
    <!-- Search Bar -->
    <!-- <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Type here..." />
    </div> -->
    

    <!-- Icons -->
    <div class="header-icons">
      <!-- User Sign In -->
      <div class="menu-item" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </div>

      <!-- Settings Icon -->
      <div class="menu-item">
        <mat-icon>settings</mat-icon>
        <span>My Details</span>
      </div>
    </div>
  </div>
</div>
