<div class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <div class="brand">
        <span class="brand-logo">🛡️</span>
        <span class="brand-name">DS Insurance</span>
      </div>
    </div>
  
  
    <!-- Menu Items -->
    <ul class="sidebar-menu">
      <li class="menu-item active">
        <a  routerLink="/agent-dashboard" routerLinkActive="active">
          <span class="icon">🏠</span>
          <span class="label">Agent Dashboard</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-section-title">Manage Customers</div>
    <ul class="sidebar-menu">
      <li class="menu-item">
        <a routerLink="add-customerbyagent" routerLinkActive="active">
          <span class="icon">👥</span>
          <span class="label">Add Customer</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="show-customers" routerLinkActive="active">
          <span class="icon">❤️</span>
          <span class="label">All Customer List</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="manage-customer-installments" routerLinkActive="active">
          <span class="icon">💸</span>
          <span class="label">Pay Premium</span>
        </a>
      </li>
    </ul>
  
    <div class="sidebar-section-title">Manage Insurance Policies</div>
    <ul class="sidebar-menu">
      <li class="menu-item">
        <a routerLink="sale-policy" routerLinkActive="active">
          <span class="icon">🛍️</span>
          <span class="label">Sale Insurance Policy</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-section-title">Manage Wallet</div>
    <ul class="sidebar-menu">
      <li class="menu-item">
        <a routerLink="show-balance" routerLinkActive="active">
          <span class="icon">💰</span>
          <span class="label">Manage Wallet</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="mywithdraw-requests" routerLinkActive="active">
          <span class="icon">⏳</span>
          <span class="label">My Requests</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="agent-transaction" routerLinkActive="active">
          <span class="icon">🏦</span>
          <span class="label">My Transaction</span>
        </a>
      </li>
    </ul>
    
    <!-- Section Title -->
    <div class="sidebar-section-title">Account Setting</div>
  
    <ul class="sidebar-menu">
      <li class="menu-item">
        <a href="#">
          <span class="icon">👤</span>
          <span class="label">Edit Profile</span>
        </a>
      </li>
      <li class="menu-item" style="margin-bottom: 70px;">
        <a href="#">
          <span class="icon">🔓</span>
          <span class="label">Log Out</span>
        </a>
      </li>
    </ul>
  </div>